body, html {
  margin: 0;
  padding: 0;
  background: black;
}

p {
  color: white;
}

#container {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  background: black;
}

#container canvas {
    border: 4px solid grey;
}
